﻿@model WebApplication1.Models.Person

@{ 
    ViewBag.Title = "Information about the Person";
}

<h2>Person Information</h2>

<table cellspacing="10" border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>

    <tr>
        <td>@Model.First_Name</td>
        <td>@Model.Last_Name</td>
        <td>@Model.Age</td>
        <td>@Model.Gender</td>
    </tr>
</table>